@import "~bootstrap/scss/bootstrap.scss";

body{
    background:rgb(95, 0, 158);
}
.lightBox {
    width: 10rem;
    height: 25rem;
    border-radius: 3rem;
    background-color: black;
    margin-top: 3rem;
    margin-left: 45rem;
    position: relative;
}


.lights {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem;
    margin-top: 3rem;
}

.stop {
    width: 5rem;
    height: 5rem;
    background-color: red;
    border-radius: 100px;
    margin: 1rem 2rem;
}

.warning {
    width: 5rem;
    height: 5rem;
    background-color: yellow;
    border-radius: 100px;
    margin: 1rem 2rem;
}

.go {
    width: 5rem;
    height: 5rem;
    background-color: green;
    border-radius: 100px;
    margin: 1rem 2rem;
}

.glow {
    box-shadow: 0 0 30px 10px rgb(114, 237, 212), 0 0 50px 25px rgb(255, 255, 255);
    z-index: 100
}
